WikiURL = "https://wiki.nerdberg.de/api.php"
ConsumerToken = ""
ConsumerSecret = ""
AccessToken = ""
AccessSecret = ""
PlenenPageId = "28"
SendMail = true
MailAdress = ""
MailPassword = ""
MailServer = ""
MailPort = 465
MailRecipient = "your@mailing.list"
MailSubject = "New Protokoll"
MailTemplate = "/etc/seilfahrt/mail-template.txt"